# Ignore API keys and environment files
.env
environment/

# Ignore raw data (ensure raw data is stored locally, not in GitHub)
data/raw_*

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore logs and temp files
logs/
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
